<head>
    <title>
        Contectus
    </title>
    <%- include('head') %>
</head>
<%- include('sidebar') %>


    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg mt-4">
        <div class="container-fluid py-4">
            <div class="row align-items-stretch">
                <div class="mb-xl-0 mb-4">
                    <div class="card">
                        <div class="card-header p-3 pb-0 pt-2">
                            <div
                                class="icon icon-lg icon-shape bg-gradient-primary shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                                <i class="material-icons opacity-10">ac_unit</i>
                            </div>
                            <div class="text-end pt-1">
                                <p class="text-sm mb-0 text-capitalize">Contect Us</p>
                                <h4 class="mb-0">

                                </h4>
                            </div>
                        </div>
                        <hr class="dark horizontal my-0">
                        <div class="card-footer p-3">
                            <h2>Contect Us</h2>
                            <div class="mt-3">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
    <%- include('sidebar2') %>
        <%- include('foot') %>