<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

 
    <meta property="og:title" content="VP Staffing : The Concierge Agency" />
    <meta property="og:image"content="https://www.vpstaffingagency.com/images/images/ogimage.png" />

    <meta property="og:url" content="https://www.vpstaffingagency.com/" />
    <meta property="og:title" content="VP Staffing : The Concierge Agency">
    <meta property="og:site_name" content="vpstaffingagency" />

    <!-- font  -->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <!-- Animate Css -->
    <link rel="stylesheet" href="./css/animate.css" />

    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!----------Custom Css--------->
    <link rel="stylesheet" href="./css/style.css">

    <!----------Media Css--------->
    <link rel="stylesheet" href="./css/media.css">

    <!--fav-icon--------->
    <link rel="shortcut icon" href="images/stethoscope.png">
    <title>Compatibility Statement</title>
</head>

<body>


    <!----------------------------------------------------------- Header Section ---------------------------------------------------------->
    <header>
        <div class="bgHeader header"></div>
        <div class="container">
            <div class="row mainusMrg">
                <div class="col-lg-6 d-flex justify-content-center justify-content-lg-start align-items-start py-3">
                    <div class="contact-info mailText d-flex flex-wrap justify-content-center align-items-center">
                        <a href="contact@example.com" class="px-1 whiteSpace wow fadeIn"><i
                                class="fa-solid fa-phone text-black pe-2"></i> (786) 715-6132</a>
                        <div class="mx-2 wow fadeInDown">|</div>
                        <a href="contact@example.com" class="px-1 whiteSpace wow fadeInDown"><i
                                class="fa-solid fa-envelope pe-2"></i>
                            valery@vpstaffingagency.com </a>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-none d-lg-flex justify-content-lg-end align-items-center text-white py-3 px-0">
                        <div class="">
                            <a href="https://www.facebook.com/profile.php?id=100087023400204"
                                class="facebook px-2 rounded-circle wow fadeInDown" data-wow-delay="0.1s"><img
                                    src="images/facebook.png" alt="Facebook" class="img-fluid" draggable="false"></a>
                            <a href="https://www.instagram.com/invites/contact/?i=vrrzjc15mt6g&utm_content=pe8ugr4"
                                class="facebook px-2 rounded-circle wow fadeInDown" data-wow-delay="0.2s"><img
                                    src="./images/instagram.png" alt="Instagram" class="img-fluid"
                                    draggable="false"></a>
                            <a href="https://www.linkedin.com/company/vp-staffing-agency/"
                                class="facebook px-2 rounded-circle wow fadeInDown" data-wow-delay="0.6s"><img
                                    src="images/linkedin.png" alt="Linkedin" class="img-fluid" draggable="false"></a>
                        </div>
                    </div>
                </div>

                <div class="row px-4 m-0">
                    <div class="d-flex  justify-content-between align-items-center mainNav header px-4">

                        <a href="/" class="wow fadeIn" data-wow-delay="0.1s">
                            <img src="images/Final_Logo.png" alt="Logo" class="img-fluid HeaderLogo" draggable="false">
                        </a>

                        <nav class="navbar ms-lg-auto p-0 ">
                            <ul class="d-flex m-0 navbar-list">
                                <div class="close-navbar-btn">
                                    <i class="fa-solid fa-xmark close-outline"></i>
                                </div>

                                <li class="me-xl-3 mx-md-2 mx-md-0 menuitem MainNavPad wow fadeIn"
                                    data-wow-delay="0.2s">
                                    <a class="navbar-link active navItem" href="/">HOME</a>
                                </li>
                                <li class="mx-xl-3 mx-md-2 menuitem MainNavPad wow fadeIn" data-wow-delay="0.3s">
                                    <a class="navbar-link navItem" href="/applynow">APPLY NOW</a>
                                </li>
                                <li class="mx-xl-3 mx-md-2 menuitem MainNavPad wow fadeIn" data-wow-delay="0.4s">
                                    <a class="navbar-link navItem" href="/goverment-solutions">Government
                                        Solutions</a>
                                </li>
                                <li class="mx-xl-3 mx-md-2 menuitem MainNavPad wow fadeIn" data-wow-delay="0.5s">
                                    <a class="navbar-link navItem" href="/about">ABOUT US</a>
                                </li>
                                <li class="mx-xl-3 mx-md-2 menuitem MainNavPad wow fadeIn" data-wow-delay="0.6s">
                                    <a class="navbar-link navItem" href="/contactus">CONTACT US</a>
                                </li>
                                <li class="mx-xl-3 mx-md-2 menuitem MainNavPad wow fadeIn" data-wow-delay="0.7s">
                                    <a class="navbar-link navItem" href="/client">CLIENT</a>
                                </li>
                                <li class="ms-xl-3 mx-md-2 mt-0 mt-md-1 menuitem MainNavPad wow fadeIn"
                                    data-wow-delay="0.8s">
                                    <a class="navbar-link navItem d-none d-lg-block" href="#">RESOURCES</a>
                                    <ul class="PetaMenu text-center poREl">
                                        <li><a href="/referfriend">REFER A FRIEND</a></li>
                                        <li><a href="/benifits">BENEFITS</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </nav>
                        <div class="mobile-navbar-btn_one">
                            <i name="menu-outline" class="fa-solid fa-bars"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!------------------------------------------------------------- Main Banner Section ----------------------------------------------------------------->

    <section class="overflow-hidden VectorSmartObjectBGImg marTop" id="search-1">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center paddingTop">



                <div class="col-lg-12 col-md-12 col-sm-12 text-start wow fadeInDown" data-wow-delay="0.5s">

                    <br>
                    <div>PROFESSIONAL SERVICES</div><br>

                    <div>CAPABILITY STATEMENT</div>

                    <p>
                    <div>DUNS: 109558541</div>
                    </p>

                    <p>
                    <div>CAGE:</div>
                    </p>

                    <p>
                    <div>UEID: </div>
                    </p>

                    <p>
                    <div class="mission fw-bold">MISSION STATEMENT </div>
                    </p>
                    <p>
                        <span>
                            VP Staffing’s mission is to provide healthcare staffing support services to our government
                            clients and exceeding expectations while maintaining a level of service that is unparalleled
                            in the healthcare industry
                        </span>
                    </p>

                    <p><span class="mission fw-bold">COMPANY OVERVIEW</span></p>

                    <p>
                        <span>
                            VP Staffing Agency is a Texas-based healthcare staffing company. We offer a combined 10
                            years of industry experience, is a nurse and woman owned and operated business, offering
                            quality and professional services. Our services include the placement of vetted and the most
                            highly qualified healthcare clinicians in the field. Join our VP team and allow us to meet
                            your staffing needs through excellence, diversity and professionalism.
                        </span>
                    </p>

                    <p><span class="mission fw-bold">CORE COMPETENCIES</span></p>

                    <div class="pb-3">
                        <div class="li-bullet-0">
                            <span class="">We specialize in delivering premium services for organizations in the
                                following areas: </span>
                            <span>&nbsp;</span>
                        </div>
                        <div class="li-bullet-0">
                            <span class="">Healthcare Employee Placement</span>
                            <span>&nbsp;</span>
                        </div>
                        <div class="li-bullet-0">
                            <span class="">Temporary Staffing</span>
                            <span>&nbsp;</span>
                        </div>
                        <div class="li-bullet-0">
                            <span class="">Temp-to-Perm Staffing</span>
                            <span>&nbsp;</span>
                        </div>
                        <div class="li-bullet-0">
                            <span class="">Direct Hire Staffing</span>
                            <span>&nbsp;</span>
                        </div>
                        <div class="li-bullet-0">
                            <span class="">Emergency Deployment Staffing </span>
                            <span>&nbsp;</span>
                        </div>
                    </div>

                    <p><span class="mission fw-bold">DIFFERENTIATORS</span></p>

                    <p class="c5"><span class="c9"></span></p>

                    <div class="c17 lst-kix_list_1-1 start">
                        <li class="li-bullet-0">
                            <span class="">Nurse-owned and operated</span>
                        </li>
                        <li class="li-bullet-0">
                            <span class="">Experienced in working both, the medical
                                field and for staffing agencies</span>
                        </li>
                        <li class="li-bullet-0">
                            <span class="">Provide expert employee placement locally
                                & nationwide, and allowing facilities to meet
                                diversity goals</span>
                        </li>
                        <li class="li-bullet-0">
                            <span class="">Provide proven customized solutions to
                                reduce staff turnover and increase staff
                                retention, through our thorough evaluations
                            </span>
                        </li>

                    </div>

                    <p class="TextGov fw-bold pt-3"><span>NAICS CODE</span></p>
                    <p>
                        <span class="naicsText fw-bolder">Staffing:</span><br>
                        561320 Temporary help services <br>
                        621999 All other Misc. Ambulatory Health Care services <br>
                        561210 Facility Support Services <br>
                        624230 Emergency & Other Relief Services<br>
                        622110 General Medical Surgical Hospital<br>
                        623110 Nursing Care Facilities<br>
                        561311 Employment Placement Agencies<br>
                    </p>

                    <p class="c2">
                        <span class="naicsText fw-bolder">Consulting:</span> <br>
                        541611 Administrative Management &amp; General Management Consulting Services <br>
                        541618 Other Management Consulting Services <br>
                        561499 All Other Business Support Services <br>
                    </p>


                    <p>
                        <span class="naicsText fw-bolder">PSC CODES:</span><br>
                        Q999 Medical: Other <br>
                        R429 Support- Professional: Emergency Response<br>
                        Q401 Medical Nursing<br>
                        Q201 Medical General Healthcare<br>
                        Q701 Specialized Medical Support<br>
                        R499 Support- Professional: Other<br>
                    </p>

                    <p class="c12">
                        <span class="naicsText fw-bolder">Contacts:</span>
                        <br>
                        Valery Pierre|CEO<br>
                        Vpstaffingagency.com<br>
                        Valery@vpstaffingagency.com<br>
                        Tele: (786) 715-6132<br>
                        Headquarters: #1218 1919 Taylor Street STE F Houston, TX 77007<br>
                    </p>
                    <p class="c19 c5"><span></span></p>

                    <p class="c26"><span class="mission fw-bold">PARTNERS:</span></p>
                    <div class="row d-flex justify-content-center align-items-center pt-3">
                        <div class="col-lg-3 col-md-6 col-sm-6 pt-1 pb-4 text-center wow bounceIn"
                            data-wow-delay="0.1s">
                            <img class="img-fluid" draggable="false" src="./images/flomed-removebg-preview.png"
                                alt="Flomed Img">
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 pt-1 pb-4 text-center wow bounceIn"
                            data-wow-delay="0.2s">
                            <img class="img-fluid" draggable="false" src="./images/accessible-removebg-preview.png"
                                alt="Accessible">
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 pt-1 pb-4 text-center wow bounceIn"
                            data-wow-delay="0.3s">
                            <img class="img-fluid" draggable="false" src="./images/laurelle-removebg-preview.png"
                                alt="Laurelle">
                        </div>
                    </div>

                    <div class="pt-3">
                        <span class="mission fw-bold">CERTIFICATIONS:</span>
                        <div class="row d-flex justify-content-center align-items-center pt-2">
                            <div class="col-lg-3 col-md-4 col-sm-6 pt-2 text-center wow bounceIn" data-wow-delay="0.4s">
                                <img class="img-fluid ImageSize" draggable="false" src="./images/asa.jpg" alt="ASA">
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 pt-2 text-center wow bounceIn" data-wow-delay="0.5s">
                                <img class="img-fluid ImageSize" draggable="false"
                                    src="./images/samgov-removebg-preview.png" alt="Samgov">
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 pt-2  text-center wow bounceIn"
                                data-wow-delay="0.6 s">
                                <img class="img-fluid ImageSize" draggable="false"
                                    src="./images/texas-removebg-preview.png" alt="Texas">
                            </div>
                        </div>
                    </div>

                    <div
                        class=" row pb-3 pt-4 ImgLink d-flex justify-content-lg-start align-items-lg-start justify-content-sm-center">
                        <span class="h5"><a href="/images/VPStaffingCapabilityStatement.pdf" download>Download
                                Capabilities Statement</a></span>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--------------------------------------------------------------- Footer Section ------------------------------------------------------------------>

    <footer class="footer-section">
        <div class="container">
            <div class="footer-content ">
                <div class="row pt-5  wow fadeIn" data-wow-delay="0.1s">
                    <div class="col-xl-4 col-lg-4 px-3">
                        <div
                            class="footer-logo d-flex justify-content-center justify-content-lg-start align-items-center align-items-lg-center">
                            <a href="#">
                                <img src="images/Final_Logo1.png" class="img-fluid" draggable="false" alt="logo">
                            </a>
                        </div>

                        <div
                            class="footer-widget-heading mb-3 d-flex justify-content-lg-start justify-content-around align-items-center align-items-lg-center">
                            <div>Follow Us On</div>
                        </div>
                        <div class="row footer-widget">
                            <div class="col-6 wow fadeIn" data-wow-delay="0.2s">
                                <a href="https://www.facebook.com/profile.php?id=100087023400204" target="_blank"
                                    class="footer-text d-flex justify-content-start align-items-center">
                                    <i class="fa-brands fa-square-facebook me-2"></i>
                                    <div class="">Facebook</div>
                                </a>
                            </div>

                            <div class="col-6 wow fadeIn" data-wow-delay="0.4s">
                                <a href="https://www.instagram.com/invites/contact/?i=vrrzjc15mt6g&utm_content=pe8ugr4"
                                    target="_blank" class="footer-text d-flex justify-content-start align-items-center">
                                    <i class="fa-brands fa-square-instagram me-2"></i>
                                    <div>Instagram</div>
                                </a>
                            </div>
                            <div class="col-6 wow fadeIn" data-wow-delay="0.5s">
                                <a href="https://www.linkedin.com/company/vp-staffing-agency/" target="_blank"
                                    class="footer-text d-flex justify-content-start align-items-center">
                                    <i class="fa-brands fa-linkedin me-2"></i>
                                    <div>Linkedin</div>
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4">
                        <div class="row py-3 footer-widget">
                            <div class="footer-widget-heading mb-3 d-flex justify-content-lg-start justify-content-center align-items-center align-items-lg-center wow fadeIn"
                                data-wow-delay="0.1s">
                                <div>Services</div>
                            </div>
                            <div class="col-sm-6">
                                <ul>
                                    <li class="wow fadeIn" data-wow-delay="0.2s"><a href="/"><i
                                                class="fa-solid fa-angles-right pe-2"></i>HOME</a>
                                    </li>
                                    <li class="wow fadeIn" data-wow-delay="0.5s"><a href="/applynow"><i
                                                class="fa-solid fa-angles-right pe-2"></i>APPLY
                                            NOW</a></li>
                                    <li class="wow fadeIn" data-wow-delay="0.8s"><a href="/goverment-solutions"><i
                                                class="fa-solid fa-angles-right"></i> GOVERNMENT
                                            SOLUTIONS</a>
                                    </li>
                                    <li class="wow fadeIn" data-wow-delay="0.2s"><a href="/about"><i
                                                class="fa-solid fa-angles-right pe-2"></i>ABOUT US</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-sm-6">
                                <ul>
                                    <li class="wow fadeIn" data-wow-delay="0.6s"><a href="/contactus"><i
                                                class="fa-solid fa-angles-right pe-2"></i>CONTACT
                                            US</a></li>
                                    <li class="wow fadeIn" data-wow-delay="0.3s"><a href="/client"><i
                                                class="fa-solid fa-angles-right pe-2"></i>CLIENT</a>
                                    </li>
                                    <li class="wow fadeIn" data-wow-delay="0.4s"><a href="/referfriend"><i
                                                class="fa-solid fa-angles-right pe-2"></i>REFER
                                            A FRIEND</a>
                                    </li>
                                    <li class="wow fadeIn" data-wow-delay="0.7s"><a href="/benifits"><i
                                                class="fa-solid fa-angles-right pe-2"></i>BENEFITS</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4">
                        <div class="footer-widget-heading mb-3 d-flex justify-content-lg-start justify-content-around align-items-center align-items-lg-center wow fadeIn"
                            data-wow-delay="0.1s">
                            <div>Contact Info</div>
                        </div>
                        <div class="footer-text py-2 d-flex justify-content-start align-items-start wow fadeIn"
                            data-wow-delay="0.2s">
                            <i class="fa-solid fa-phone pe-2"></i>
                            <div>(786) 715-6132</div>
                        </div>

                        <div class="footer-text py-2 d-flex justify-content-start align-items-start wow fadeIn"
                            data-wow-delay="0.3s">
                            <i class="fa-solid fa-envelope pe-2"></i>
                            <div><a href="mailto: valery@vpstaffingagency.com">valery@vpstaffingagency.com</a>
                            </div>
                        </div>

                        <div class="footer-text py-2 d-flex justify-content-start align-items-start wow fadeIn"
                            data-wow-delay="0.4s">
                            <i class="fa-solid fa-location-dot pe-2"></i>
                            <div>
                                #1218 1919 Taylor Street STE F Houston, TX 77007.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="footer-cta pt-3">
                </div>

                <div class="copyright-text py-3 text-center">
                    <p>Copyright © 2022 VP Staffing. All Rights Reserved.<a href="#"></a></p>
                </div>

            </div>
        </div>
    </footer>
</body>

<!-- Wow JS -->
<script src="./js/wow.min.js"></script>
<script>
    new WOW().init();
</script>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>


<!-- Script CSS -->
<script src="./js/app.js"></script>




</html>